<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>MONGOOSES</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<a href="/"><button class="btn btn-default">Home</button></a>
			<h1>Welcome to Add a Mongoose</h1>
			<form action="/mongooses" method="post">
				<label>Name:</label>
				<input type="text" name="name">
				<label>Age:</label>
				<input type="text" name="age">
				<label>Attitude:</label>
				<input type="text" name="attitude">
				<label>Color:</label>
				<input type="text" name="color">
				<button type="submit">Add Mongoose</button>
			</form>
		</div>
	</div>
</body>
</html>
